table {
  border-collapse: collapse;
  width: 100%;
  background-color: #242424;

  box-shadow: 0 0 5px #8f7cec, 0 0 10px #8f7cec;
}

th,
td {
  padding: 0.5em;
  text-align: center;
}

th {

  font-weight: bold;

}

td {
  border-bottom: 1px solid #8f7cec;
  box-shadow: 0 0 2px #8f7cec
}



.aqui {
  background: #8f7cec;
  color: aqua;
  background-color: #8f7cec;
}

.topTable {

  display: flex;
  justify-content: space-between;
  background-color: #242424;
  width: 100%;
}

.caixaBotao {
  background-color: #242424;
  margin-top: 0.4rem;
  box-shadow: 0 0 0 3.5px #242424;
}

button {
  height: 40px;
  width: 140px;
  border-radius: 10px;

  margin-bottom: 2rem;
  color: #6c6672;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .3s;
  letter-spacing: 4px;
  border: 1px solid #8f7cec;
}

button:hover {
  opacity: 0.8;
}

button:active {
  background-color: rgb(217, 224, 224);
}

.botaoConfirma {
  background-color: rgb(27, 204, 27);
  font-weight: bold;
  color: white;
  margin-top: 1.2rem;
}

.botaoEdita {
  background-color: rgb(250, 255, 0);
  font-weight: bold;
  color: #242424;
  margin-left: 5rem;
}

.botaoConfirma:hover {
  opacity: 0.8;
}

.botaoConfirma:active {
  background-color: rgb(38, 173, 38);
}